<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="flex flex-col h-[calc(100%-70px)] overflow-hidden">
    <div #scrollContainer class="flex flex-col flex-1 overflow-auto p-5 gap-3">
      @for (message of messages(); track message.id) { @if (message.role ===
      'model') {
      <p
        class="self-start max-w-[80%] p-2 rounded-[0_12px_12px_12px] bg-white/5"
      >
        {{message.text}}
      </p>
      } @else {
      <p class="self-end max-w-[80%] p-2 rounded-[12px_0_12px_12px] bg-white/5">
        {{message.text}}
      </p>
      } } @if (loading()) {
      <p
        class="self-start max-w-[80%] p-2 rounded-[0_12px_12px_12px] bg-white/5"
      >
        <ion-spinner name="dots"></ion-spinner>
      </p>
      }
    </div>

    <div class="flex items-center p-4 gap-3">
      <input
        type="text"
        placeholder="Type a message"
        class="w-full p-3 rounded-xl focus:outline-none"
        [(ngModel)]="prompt"
        (keyup.enter)="sendPrompt()"
        [disabled]="loading()"
      />

      <ion-button shape="round" (click)="sendPrompt()" [disabled]="loading()">
        <ion-icon slot="icon-only" name="send-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
